.footer .active {
  color: #f37d6a
}

#root .b-wrapper {
  background: #edeffc
}

.footer .active:first-child i {
  background-position: -7.546667rem 0;
}

.reactApp {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.footer .active:nth-child(2) i {
  background-position: -5.013333rem -0.706667rem;
}

.footer .active:nth-child(3) i {
  background-position: -6.68rem 0;
}

.footer .active:nth-child(4) i {
  background-position: -5.88rem -0.733333rem;
}

.indexbanner-wrapper .swiper-pagination {
  height: .26667rem;
  bottom: .15rem !important;
}

.indexbanner-wrapper .swiper-pagination .swiper-pagination-bullet {
  width: .26667rem;
  height: .26667rem;
  margin: 0 .12667rem !important;
  opacity: 1;
  vertical-align: top;
  background: #fff
}

.swiper-pagination-bullet-active {
  background: #f37d6a !important;
}

.box {
  opacity: 1;
  transform-origin: 0 bottom;
}

.box .test-enter {
  opacity: 1
}

.box .test-enter .test-enter-active {
  transition: all .3s;
  opacity: 0
}

.color-box {
  width: 200px;
  height: 200px;
  background: #ff0;
  color: #000;
  line-height: 200px;
  text-align: center;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide-duplicate-active {
  height: auto !important;
}

/*下拉上拉刷新*/
.tloader-msg:after {
  content: '\4E0B\62C9\5237\65B0';
}

.state-pulling.enough .tloader-msg:after {
  content: '\677E\5F00\5237\65B0';
}

.state-refreshed .tloader-msg:after {
  content: '\5237\65B0\6210\529F';
}

.tloader-loading:after {
  content: '\6B63\5728\52A0\8F7D...';
}

.tloader-symbol .tloader-loading:after {
  content: '\6B63\5728\5237\65B0...';
}

.tloader-btn:after {
  content: '加载更多';
}

.tloader {
  position: relative;
}

.tloader.state-pulling {
  overflow-y: hidden;
}

.tloader-symbol {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #7676a1;
  text-align: center;
  height: 1.5rem;
  overflow: hidden;
  background: #fff;
}

.state- .tloader-symbol,
.state-reset .tloader-symbol {
  height: 0;
}

.state-reset .tloader-symbol {
  transition: height 0s 0.2s;
}

.state-loading .tloader-symbol {
  display: none;
}

.tloader-msg {
  line-height: 1.5rem;
  font-size: .36rem;
}

.state-pulling .tloader-msg i,
.state-reset .tloader-msg i {
  display: inline-block;
  font-size: .36rem;
  margin-right: .6rem;
  vertical-align: middle;
  height: .6rem;
  border-left: 1px solid;
  position: relative;
  transition: transform 0.3s ease;
  top: -.014rem
}

.state-pulling .tloader-msg i:before,
.state-reset .tloader-msg i:before,
.state-pulling .tloader-msg i:after,
.state-reset .tloader-msg i:after {
  content: '';
  position: absolute;
  font-size: .36rem;
  width: 1em;
  bottom: 0px;
  border-top: 1px solid;
}

.state-pulling .tloader-msg i:before,
.state-reset .tloader-msg i:before {
  right: 1px;
  transform: rotate(50deg);
  transform-origin: right;
}

.state-pulling .tloader-msg i:after,
.state-reset .tloader-msg i:after {
  left: 0px;
  transform: rotate(-50deg);
  transform-origin: left;
}
.indexrefresh .tloader-symbol{top: 1.466667rem /* 110/75 */}
.tloader_nomore:after {
  content: "无更多数据了"
}
.state-pulling.enough .tloader-msg i {
  transform: rotate(180deg);
}

.state-refreshing .tloader-msg {
  height: 0;
  opacity: 0;
}

.state-refreshed .tloader-msg {
  opacity: 1;
  transition: opacity 1s;
}

.state-refreshed .tloader-msg i {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: middle;
  margin-right: .5rem;
  font-size: .36rem;
  height: 1em;
  width: 1em;
  border: 1px solid;
  border-radius: 100%;
  position: relative;
  top: -.014rem
}

.state-refreshed .tloader-msg i:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  height: 11px;
  width: 5px;
  border: solid;
  border-width: 0 1px 1px 0;
  transform: rotate(40deg);
}

.tloader-body {
  margin-top: -1px;
  padding-top: 1px;
}

.state-refreshing .tloader-body {
  transform: translate3d(0, 1.5rem, 0);
  transition: transform 0.2s;
}

.state-refreshed .tloader-body {
  animation: refreshed 0.4s;
}

.state-reset .tloader-body {
  transition: transform 0.2s;
}

@keyframes refreshed {
  0% {
    transform: translate3d(0, 1.5rem, 0);
  }

  50% {
    transform: translate3d(0, 1.5rem, 0);
  }
}

.state-refreshing .tloader-footer {
  display: none;
}

.tloader-footer .tloader-btn {
  color: #484869;
  font-size: .36rem;
  text-align: center;
  line-height: 1.5rem;
  background: #fff
}

.state-loading .tloader-footer .tloader-btn {
  display: none;
}

.tloader-loading {
  display: none;
  text-align: center;
  line-height: 1.5rem;
  font-size: .36rem;
  color: #7676a1;
  background: #fff
}

.tloader-loading .ui-loading {
  font-size: .36rem;
  margin-right: 0.6rem;
  position: relative;
  top: -.03rem;
}

.state-refreshing .tloader-symbol .tloader-loading,
.state-loading .tloader-footer .tloader-loading {
  display: block;
}
.state-reset .tloader-btn {display: none}
.state-reset .tloader-loading {
  display: block
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

.ui-loading {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  border: 2px solid #9494b6;
  border-top-color: #fff;
  border-radius: 100%;
  animation: circle 0.8s infinite linear;
}

#ui-waiting .ui-loading {
  border: 2px solid #fff;
  border-top-color: #9494b6;
}

@keyframes tloader-progressing {
  0% {
    width: 0;
  }

  10% {
    width: 40%;
  }

  20% {
    width: 75%;
  }

  30% {
    width: 95%;
  }
}

@keyframes tloader-progressed {
  0% {
    opacity: 1;
  }
}

.tloader-progress {
  position: relative;
}

.tloader-progress:before {
  content: "";
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  height: .046667rem;
  background-color: #f37d6a;
  width: 100%;
  animation: tloader-progressing 9s ease-out;
}

.ed.tloader-progress:before {
  opacity: 0;
  width: 100%;
  animation: tloader-progressed 1s;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: #efeff4;
  display: flex;
  flex-direction: column;
  touch-action: none;
  z-index:1
}

.view .main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}